.navbar {
  height: fit-content;
  width: 100%;
  background-color: white;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content:space-between;
}

.navbarTitle {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.navbarTitle  * {
  font-size: 1.3rem;
}

.userSignout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.loginUser {
  color: #eee;
}