#todoBox {
  width: auto;
  border-radius: 8px;
  padding: 2rem;
  height: fit-content;
  background-color: white;
  border: 1px solid #eee;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#inputBox {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-self: unset;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.listItems {
  display: flex;
  flex-direction: column;
}

.empty {
  color: #606060;
}

.toDoListBox {
  width: 100%;
  max-height: 64vh;
  overflow: scroll;
}

.loginBox {
  color: white;
}