#todoBox {
  min-width: 420px;
  width: 960px;
  background-color: #f7f7f7;
  height: fit-content;
  padding: 3rem;
  height: fit-content;
}

#inputBox {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-self: unset;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.listItems {
  display: flex;
  flex-direction: column;
}

.empty {
  color: grey;
}