#todoBox {
  width: auto;
  height: fit-content;
  padding: 3rem;
  height: fit-content;
  border: 1px solid #eee;
}

#inputBox {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-self: unset;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.listItems {
  display: flex;
  flex-direction: column;
}

.empty {
  color: #606060;
}

.titleBox {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}