.todoInput{
  width: 100%;
  overflow: hidden;
  border: none;
}

.inputBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0rem;
  padding-left: 1rem;
  gap: 0.4rem;
  border: 1px solid #eee;
  border-radius: 4px;
}

.todoInput:focus {
  outline: none;
}