.todoInput{
  width: 100%;
  padding: 0.5rem;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 4px;
  border: 1px solid #eee;
}

.todoInput:focus {
  outline-color: lightgreen;
}