.listItemBox {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f6f6f6;
  margin-bottom: 1rem;
  border-radius: 4px;
  align-items: center;
}

.listItemDone {
  text-decoration:line-through;
}

.listItem {
  padding: 0.4rem;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
}

.listItem::first-letter {
  text-transform: capitalize;
}