.button {
  border: none;
  background-color: lightgreen;
  color: black;
  font-size: large;
  padding: 0.5rem;
  height: fit-content;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 4px;
}

.button:hover {
  cursor: pointer;
  background-color: red;
  transition: 0.3s;
}